@using MvcDemand.Models
@model AccountRelationModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal {
        text-align: center;
        position: fixed;
        z-index: 1;
        top: 1%;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 100%;
        background-color: rgba(0,0,0,0.6) !important;
        overflow-y:scroll;
    }

    .modal_body {
        text-align: center;
        position: absolute;
        background-color: #F6F6F6;
        /*background-color: white;*/
        /*width:90%;*/
        /*width: 870px;*/
        top: 1%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        border-color: #2E6E9E;
        overflow-y:scroll;
    }

    .modalU {
        text-align: center;
        position: fixed;
        z-index: 1;
        top: 5%;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 100%;
        background-color: rgba(0,0,0,0.6) !important;
    }

    .modalU_body {
        text-align: center;
        position: absolute;
        background-color: #F6F6F6;
        /*background-color: white;*/
        /*width:90%;*/
        /*width: 870px;*/
        top: 10%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        border-color: #2E6E9E;
    }
</style>
<script type="text/javascript">

    var baseURL = '@Html.Raw(Url.Content("~"))';
    if (baseURL == '/') { baseURL = ""; }

    $(function ($) {
        $('#dropExecute').change(funcSelectChange);
    });

    funcSelectChange = function () {
        var selValue = $('#dropExecute :selected').val();
        $('#showDataCreate').hide(); $('#showDataUpdate').hide(); $('#showUpload').hide();
        switch (selValue) {
            case "":
                $('#showDataUpdate').fadeOut("slow");
                break;
            case "N":
                $('#showDataCreate').fadeIn("slow");
                $("#textAccDateS").datepicker({ dateFormat: 'yy/mm/dd' });
                break;
            case "U":
                $('#showUpload').fadeIn("slow");
                break;
            case "O":
                $('#showDataUpdate').fadeOut("slow");
                FormExcelOut();
                break;
        }
        return false;
    }

</script>
    @using (Html.BeginForm("Index", "AccountRelation", FormMethod.Post, new { id = "form1" }))
{
    <div id="showList">
            <table style="width:100%" border="0" cellpadding="0" cellspacing="0">
                <tr style="height:40px; font-size:20px; font-weight:bold"><td style="width:100%; text-align:center" colspan="2">使用帳號關聯資料檔<hr /></td></tr>
                <tr style="height:35px;">
                    <td style="width:700px; text-align:left">
        關鍵字 : @Html.TextBox("searchValue", (string)ViewBag.searchValue, new { Style = "width:600px; height:35px" })
                    <input type="submit" id="btnsubmit" value="查詢" style="width:100px; height:30px;font-weight:bold;font-size:18px" />
                </td>
                <td style="width:200px; text-align:right">
                    <select id="dropExecute" name="dropExecute" style="width:200px; height:30px;font-size:16px;font-weight:bold">
                        <option value="">請選擇</option>
                        <option value="N">新增帳號關聯</option>
                        <option value="U">匯入關聯資料</option>
                        <option value="O">匯出關聯資料</option>
                    </select>
                </td>
            </tr>
            <tr id="showUpload" style="vertical-align:middle;display:none">
                <td style="width:700px; text-align:left">
                    <input type="file" id="fileUpload" name="fileUpload" style="width:100%; height:30px;" />
                </td>
                <td style="width:200px; text-align:right">
                    <input type="button" id="btnUpload" value="上傳" style="width:100px; height:30px; font-size:16px; font-weight:bold" onclick="FormExcelUpload();" />
                </td>
            </tr>
            <tr><td style="width:100%" colspan="4"><hr /></td></tr>
            <tr><td style="width:100%" colspan="4">@{Html.RenderPartial("list", Model);}</td></tr>
        </table>
    </div>
        
    <div id="showDataCreate" class="modal" style="display:none;text-align:center">
        @Html.Hidden("hideAccountData", Model.aryAccountDetail)
        @Html.Hidden("hideAccountDeptData", Model.aryAccountDeptData)
        <script type="text/javascript">

            CheckBoxSelAll = function (idC) {
                var valSumAccountData = $('#hideAccountData').val();
                var aryAccountData = valSumAccountData.split('_');                
                for (var i = 0; i < aryAccountData[i]; i++) {
                    if (idC.checked) {
                        $('#check_' + aryAccountData[i]).prop('checked', true);
                    } else {
                        $('#check_' + aryAccountData[i]).prop('checked', false);
                    }                    
                }                
                return false;
            }
            
            FormDataCreate = function (funDeptNo) {
                var FormURL = baseURL + "AccountRelation/AccountRelationDataCreate";
                var rtnValue = "";
                var aryAccountDeptData = $('#hideAccountDeptData').val().split('_');                
                for (var i = 0; i < aryAccountDeptData.length; i++) {
                    var vIndex = aryAccountDeptData[i].split('$')[0];
                    var vDeptNo = aryAccountDeptData[i].split('$')[1];                   
                    if ($('#check_' + vIndex).prop("checked")) {
                        var objData = { fRelatClass: funDeptNo, fAccIndex: aryAccountDeptData[i].split('$')[0], fAccDeptNo: aryAccountDeptData[i].split('$')[1] };
                        $.ajax({
                            url: FormURL,
                            type: 'Post',
                            data: objData,
                            async: false,
                            success: function (data) {
                                rtnValue = data;
                            },
                            error: function (error, ajaxOption, thrownError) {
                                rtnValue = error.responseText;
                            }
                        });
                    }
                }
                $('#data_' + funDeptNo).html(rtnValue);
                var valSumAccountData = $('#hideAccountData').val();
                var aryAccountData = valSumAccountData.split('_');
                for (var i = 0; i < aryAccountData[i]; i++) {
                    $('#check_' + aryAccountData[i]).prop('checked', false);
                }
                return false;
            }

            FormDataDelete = function (funAccIndex, funDeptNo, funRelatClass) {
                var FormURL = baseURL + "AccountRelation/AccountRelationDataDelete";
                var rtnValue = "";
                var objData = { fRelatClass: funRelatClass, fAccIndex : funAccIndex, fAccDeptNo : funDeptNo };
                $.ajax({
                    url : FormURL,
                    type: 'Post',
                    data : objData,
                    async : false,
                    success : function(data) {
                        rtnValue = data;
                    },
                    error : function(error, ajaxOption, thrownError){
                        rtnValue = error.responseText;
                    }
                });                
                $('#data_' + funRelatClass).html(rtnValue);
                var valSumAccountData = $('#hideAccountData').val();
                var aryAccountData = valSumAccountData.split('_');
                for (var i = 0; i < aryAccountData[i]; i++) {
                    $('#check_' + aryAccountData[i]).prop('checked', false);
                }                
                return false;
            }


        </script>
        <table class="modal_body" style="width:1000px;" border="0" cellpadding="0" cellspacing="0">
            <tr style="height:40px; font-size:20px; font-weight:bold"><td style="width:100%; text-align:center" colspan="8">新增帳號關聯資料</td></tr>
            <tr style="height:30px; font-weight:bold; font-size:18px">
                <td style="width:125px; text-align:left">帳號清單</td>
                <td style="width:125px; text-align:left" colspan="2"></td>
                <td style="width:250px; text-align:right" colspan="2">單位清單</td>
                <td style="width:250px; text-align:left" colspan="2">@Html.DropDownList("sAccDeptNo", (IEnumerable<SelectListItem>)Model.selAccDeptNo, new { Style = "width:90%; height:30px" })</td>
                <td style="width:125px; text-align:right"><input type="button" value="取消帳號關聯" width="200" height="30" onclick="$('#form1').submit();"  /></td>
            </tr>
            <tr><td colspan="8"><hr /></td></tr>
            <tr style="height:40px; font-size:18px; font-weight:bold; color:white; background-color:#5F9EA0">
                <td style="width:250px; text-align:center" colspan="2">一般帳號</td>
                <td style="width:250px; text-align:center" colspan="2">上級主管</td>
                <td style="width:250px; text-align:center" colspan="2">二級主管</td>
                <td style="width:250px; text-align:center" colspan="2">負責窗口</td>
            </tr>
            <tr><td colspan="8"><hr /></td></tr>
            <tr style="height:35px; font-size:12px; vertical-align:top">
                <td id="data_A" style="width:250px; text-align:left" colspan="2">
                    @{  for (int i = 0; i < Model.listAccountRelationA.Count; i++)
                      {
                        @:<input type="checkbox" id="chk_@Model.listAccountRelationA[i].oAccIndex.ToString()" onclick="FormDataDelete('@Model.listAccountRelationA[i].oAccIndex.ToString()','@Model.listAccountRelationA[i].oAccDeptNo.ToString()','A');" checked="checked" />
                        @:(
                        @Model.listAccountRelationA[i].oAccNo.ToString();
                        @:)
                        @Model.listAccountRelationA[i].oAccName.ToString();
                        @:<br />
                        }

                    }
                </td>
                <td id="data_B" style="width:250px; text-align:left" colspan="2">
                    @{  for (int i = 0; i < Model.listAccountRelationB.Count; i++)
                      {
                        @:<input type="checkbox" id="chk_@Model.listAccountRelationB[i].oAccIndex.ToString()" onclick="FormDataDelete('@Model.listAccountRelationB[i].oAccIndex.ToString()','@Model.listAccountRelationB[i].oAccDeptNo.ToString()','B');" checked="checked" />
                        @:(
                        @Model.listAccountRelationB[i].oAccNo.ToString();
                        @:)
                        @Model.listAccountRelationB[i].oAccName.ToString();
                        @:<br />
                        }

                    }
                </td>
                <td id="data_C" style="width:250px; text-align:left" colspan="2">
                    @{  for (int i = 0; i < Model.listAccountRelationC.Count; i++)
                      {
                        @:<input type="checkbox" id="chk_@Model.listAccountRelationC[i].oAccIndex.ToString()" onclick="FormDataDelete('@Model.listAccountRelationC[i].oAccIndex.ToString()','@Model.listAccountRelationC[i].oAccDeptNo.ToString()','C');" checked="checked" />
                        @:(
                        @Model.listAccountRelationC[i].oAccNo.ToString();
                        @:)
                        @Model.listAccountRelationC[i].oAccName.ToString();
                        @:<br />
                        }

                    }
                </td>
                <td id="data_D" style="width:250px; text-align:left" colspan="2">
                    @{  for (int i = 0; i < Model.listAccountRelationD.Count; i++)
                      {
                        @:<input type="checkbox" id="chk_@Model.listAccountRelationD[i].oAccIndex.ToString()" onclick="FormDataDelete('@Model.listAccountRelationD[i].oAccIndex.ToString()','@Model.listAccountRelationD[i].oAccDeptNo.ToString()','D');" checked="checked" />
                        @:(
                        @Model.listAccountRelationD[i].oAccNo.ToString();
                        @:)
                        @Model.listAccountRelationD[i].oAccName.ToString();
                        @:<br />
                        }

                    }
                </td>  
            </tr>
            <tr style="height:40px; font-size:18px; font-weight:bold; color:white; background-color:#5F9EA0">
                <td style="width:250px; text-align:center" colspan="2">代理人</td>
                <td style="width:250px; text-align:center" colspan="2">專案經理</td>
                <td style="width:250px; text-align:center" colspan="2">系統分析師</td>
                <td style="width:250px; text-align:center" colspan="2">開發工程師</td>
            </tr>
            <tr><td colspan="8"><hr /></td></tr>
            <tr style="height:35px; font-size:12px; vertical-align:top">
                <td id="data_E" style="width:250px; text-align:left" colspan="2">
                    @{  for (int i = 0; i < Model.listAccountRelationE.Count; i++)
                      {
                        @:<input type="checkbox" id="chk_@Model.listAccountRelationE[i].oAccIndex.ToString()" onclick="FormDataDelete('@Model.listAccountRelationE[i].oAccIndex.ToString()','@Model.listAccountRelationE[i].oAccDeptNo.ToString()','E');" checked="checked" />
                        @:(
                        @Model.listAccountRelationE[i].oAccNo.ToString();
                        @:)
                        @Model.listAccountRelationE[i].oAccName.ToString();
                        @:<br />
                        }

                    }
                </td>
                <td id="data_F" style="width:250px; text-align:left" colspan="2">
                    @{  for (int i = 0; i < Model.listAccountRelationF.Count; i++)
                      {
                        @:<input type="checkbox" id="chk_@Model.listAccountRelationF[i].oAccIndex.ToString()" onclick="FormDataDelete('@Model.listAccountRelationF[i].oAccIndex.ToString()','@Model.listAccountRelationF[i].oAccDeptNo.ToString()','F');" checked="checked" />
                        @:(
                        @Model.listAccountRelationF[i].oAccNo.ToString();
                        @:)
                        @Model.listAccountRelationF[i].oAccName.ToString();
                        @:<br />
                        }

                    }
                </td>
                <td id="data_G" style="width:250px; text-align:left" colspan="2">
                    @{  for (int i = 0; i < Model.listAccountRelationG.Count; i++)
                      {
                        @:<input type="checkbox" id="chk_@Model.listAccountRelationG[i].oAccIndex.ToString()" onclick="FormDataDelete('@Model.listAccountRelationG[i].oAccIndex.ToString()','@Model.listAccountRelationG[i].oAccDeptNo.ToString()','G');" checked="checked" />
                        @:(
                        @Model.listAccountRelationG[i].oAccNo.ToString();
                        @:)
                        @Model.listAccountRelationG[i].oAccName.ToString();
                        @:<br />
                        }

                    }
                </td>
                <td id="data_H" style="width:250px; text-align:left" colspan="2">
                    @{  for (int i = 0; i < Model.listAccountRelationH.Count; i++)
                      {
                        @:<input type="checkbox" id="chk_@Model.listAccountRelationH[i].oAccIndex.ToString()" onclick="FormDataDelete('@Model.listAccountRelationH[i].oAccIndex.ToString()','@Model.listAccountRelationH[i].oAccDeptNo.ToString()','H');" checked="checked" />
                        @:(
                        @Model.listAccountRelationH[i].oAccNo.ToString();
                        @:)
                        @Model.listAccountRelationH[i].oAccName.ToString();
                        @:<br />
                        }

                    }
                </td>
            </tr>
            <tr><td colspan="8" style="text-align:left; font-size:13px; color:blue"><hr /><input type="checkbox" id="checkAll" onclick="CheckBoxSelAll(this);" />全選</td></tr>
            <tr><td colspan="8">
                <table style="width:100%" border="0">
                    @{  for (int i = 0; i < Model.listAccountDetail.Count; i+=5)
                        {
                            @:<tr style="height:35px; font-size:12px; color:blue; vertical-align:top">
                            if (i <= Model.listAccountDetail.Count - 1)
                            {
                                @:<td style="width:200px; text-align:left">
                                @:<input type="checkbox" id="check_@Model.listAccountDetail[i].oAccIndex.ToString()" />
                                @:(
                                @Model.listAccountDetail[i].oAccNo.ToString();
                                @:)
                                @Model.listAccountDetail[i].oAccName.ToString();
                                @:</td>
                            }
                            if (i + 1 <= Model.listAccountDetail.Count - 1)
                            {
                                @:<td style="width:200px; text-align:left">
                                @:<input type="checkbox" id="check_@Model.listAccountDetail[i + 1].oAccIndex.ToString()" />
                                @:(
                                @Model.listAccountDetail[i + 1].oAccNo.ToString();
                                @:)
                                @Model.listAccountDetail[i + 1].oAccName.ToString();
                                @:</td>
                            }
                            if (i + 2 <= Model.listAccountDetail.Count - 1)
                            {
                                @:<td style="width:200px; text-align:left">
                                @:<input type="checkbox" id="check_@Model.listAccountDetail[i + 2].oAccIndex.ToString()" />
                                @:(
                                @Model.listAccountDetail[i + 2].oAccNo.ToString();
                                @:)
                                @Model.listAccountDetail[i + 2].oAccName.ToString();
                                @:</td>
                            }
                            if (i + 3 <= Model.listAccountDetail.Count - 1)
                            {
                                @:<td style="width:200px; text-align:left">
                                @:<input type="checkbox" id="check_@Model.listAccountDetail[i + 3].oAccIndex.ToString()" />
                                @:(
                                @Model.listAccountDetail[i + 3].oAccNo.ToString();
                                @:)
                                @Model.listAccountDetail[i + 3].oAccName.ToString();
                                @:</td>
                            }
                            if (i + 4 <= Model.listAccountDetail.Count - 1)
                            {
                                @:<td style="width:200px; text-align:left">
                                @:<input type="checkbox" id="check_@Model.listAccountDetail[i + 4].oAccIndex.ToString()" />
                                @:(
                                @Model.listAccountDetail[i + 4].oAccNo.ToString();
                                @:)
                                @Model.listAccountDetail[i + 4].oAccName.ToString();
                                @:</td>
                            }
                            @:</tr>
                        }
                    }

                </table>    
            </td></tr>
            
            <tr><td colspan="8"><hr /></td></tr>
            <tr style="height:35px; font-size:12px; color:blue; vertical-align:top">
                <td style="width:125px; text-align:center"><input type="button" value="一般帳號" style="width:120px; height:30px; font-weight:bold;font-size:14px" onclick="FormDataCreate('A');" /></td>
                <td style="width:125px; text-align:center"><input type="button" value="上級主管" style="width:120px; height:30px; font-weight:bold;font-size:14px" onclick="FormDataCreate('B');" /></td>
                <td style="width:125px; text-align:center"><input type="button" value="二級主管" style="width:120px; height:30px; font-weight:bold;font-size:14px" onclick="FormDataCreate('C');" /></td>
                <td style="width:125px; text-align:center"><input type="button" value="負責窗口" style="width:120px; height:30px; font-weight:bold;font-size:14px" onclick="FormDataCreate('D');" /></td>
                <td style="width:125px; text-align:center"><input type="button" value="代理人" style="width:120px; height:30px; font-weight:bold;font-size:14px" onclick="FormDataCreate('E');" /></td>
                <td style="width:125px; text-align:center"><input type="button" value="專案經理" style="width:120px; height:30px; font-weight:bold;font-size:14px" onclick="FormDataCreate('F');" /></td>
                <td style="width:125px; text-align:center"><input type="button" value="系統分析師" style="width:120px; height:30px; font-weight:bold;font-size:14px" onclick="FormDataCreate('G');" /></td>
                <td style="width:125px; text-align:center"><input type="button" value="開發工程師" style="width:120px; height:30px; font-weight:bold;font-size:14px" onclick="FormDataCreate('H');" /></td>
            </tr>
            <tr><td colspan="8"><span id="showMess"></span></td></tr>            
            <tr><td colspan="8"><br /></td></tr>
        </table>
    </div>
}
